* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #64af92;
  }
  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  .btn{
    width: 20%;
    height: 20%;
    margin: 5px;
    padding: .5rem;
  }
  .container {
    background-color: #64af92;
    /* width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: .5rem;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: 1px solid rgb(106, 102, 102);
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  button:hover{
    background-color: #a89d9d;
  }

  #text-input {
    background-color: #ffffff;
    margin: 10px ;
    height: 10vh;
    border: 1px solid #dddddd;
    border-radius: .5rem;
    padding: 20px;
    transition: height ease 1s;
    cursor: pointer;
    overflow: hidden;
    min-width: 10%;
  }
  #text-input:hover{
    
    height: 50vh;
    transition: height ease 1s;
  }
  .active{
    height: 100vh;
  }

  @media screen and (max-width: 475px) {
    .container {
      background-color: #64af92;
      /* width: 90vmin;
      padding: 50px 30px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 10px;
      box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); */
      display: flex;
      flex-direction: column;
      
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  